/*rtl css*/
*{ 
  margin:0;
  padding:0;
  outline:none;
}
body{ 
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  font-size:15px; 
  color:#191919;
  font-family: 'Dosis', sans-serif;
}
img{ 
  margin:0;
  padding:0;
  border:none;
  max-width:100%;
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{ 
  margin:0;
  padding:0 0 15px;
}
p{ 
  margin: 0 0 10px 0;
  line-height: 1.8;
  padding:0;
}
a{ 
  text-decoration:none;
  color:#07809a;
}
a:hover{ 
  text-decoration:none;
  color:#191919;
}
a:focus,
textarea:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
ul,
ol{ 
  margin:0 15px 0 0;
  padding:0;
}
input[type="submit"]{
  background-color: #07809a;
  padding: 1%;
  border: 0;
  color: #191919;
  margin: 2% 0;
}
.clear{ 
  clear:both;
}
input[type="submit"]:hover{
  cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="phno"],
textarea{
  border:1px solid #bcbcbc;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px;
}
select{
  width:100%;
}
.center{ 
  text-align:center;
  margin-bottom:40px;
}
.main-wrapper{
  margin:20px auto;
  padding:0;
}
.wp-caption{ 
  margin:0;
  padding:0;
  font-size:13px;
  max-width:100%;
}
.wp-caption-text{ 
  margin:0;
  padding:0;
}
.screen-reader-text {
  position: absolute;
  top:-9999em;
  right:-9999em;
}
/*elementor*/
.elementor-html .frame, .elementor-html .loader{ 
  display: none; 
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0;
  padding:0;  
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft,
img.alignleft {
  display: inline;
  float: right;
  margin-left:45px;
  margin-top:4px;
  margin-bottom:20px;
  padding:0;
}
.alignright,
img.alignright { 
  display: inline;
  float: left;
}
.aligncenter,
img.aligncenter { 
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top:0;
}
.comment-list .comment-content ul { 
  list-style:none;
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
.bypostauthor{ 
  margin:0;
  padding:0;
}
h2 .section-title { 
  font-size:30px;
  font-weight:700;
  padding:0 0 45px 0;
  text-align:center;
  display:table;
  margin-bottom:50px;
}
/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0; 
  background: #000;
}
#slider img {
  width: 100%;
  opacity: 0.7;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  background-image: none;
}
#slider .carousel-control-next, #slider .carousel-control-prev{
  opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption {
  top: 55%;
  transform: translateY(-50%);
  text-align: right;
  left: 40%;
}
.more-btn a {
  background: #f8cf14;
  padding: 13px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #1d1d1d;
  border: 2px solid #f8cf14;
}
.more-btn a:hover {
  background: transparent;
  color: #f8cf14;
}
.more-btn{
  margin: 30px 0;
}
#slider h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}
#slider p{
  color: #fff;
  font-size: 16px;
}
/*blog section*/
.attachment img {
  width: 100%;
}
section h2 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 7px;
  padding: 0;
  font-size: 30px;
}
section h2 a{
  color: #191919;
}
.content_box .inner-service {
  border: none;
}
/*-----------------Search pop up----------------*/
input:focus, button:focus{
  outline: 1px dotted #000;
  border: 1px solid #000;
}
.search-box i:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
     -moz-transform: translate(0px, -100%) scale(0, 0);
      -ms-transform: translate(0px, -100%) scale(0, 0);
       -o-transform: translate(0px, -100%) scale(0, 0);
          transform: translate(0px, -100%) scale(0, 0);    
  opacity: 0;
  display: none;
}
#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
     -moz-transform: translate(0px, 0px) scale(1, 1);
      -ms-transform: translate(0px, 0px) scale(1, 1);
       -o-transform: translate(0px, 0px) scale(1, 1);
           transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
  z-index: 106;
  display: block;
}
#search input[type="search"] {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -51px;
  width: 60%;
  margin-right: 20%;
  color: #000;  
  font-size: 25px;
  font-weight: 300;
  padding: 10px;
  border:none;
  text-transform: uppercase;
  background: #fff;
}
#search input[type="search"]::placeholder{
  color:#000;
}
#search .close {
  position: fixed;
  top: 55px;
  left: 55px;
  opacity: 1;
  font-size: 25px;
  color: #fff;
}
#search a.close:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
#search input[type="submit"] {
  display: none;
}
.search-box i {
  color: #fff;
  cursor: pointer;
  margin: 30px 0px;
}
.page-template-custom-home-page .search-box i{
  color: #000;
  cursor: pointer;
}
#sidebar button {
  padding: 9px 12px;
  border: none;
  background: #dd3333;
  border-radius: 0;
  margin:2% 0;
  font-size: 16px;
  width: 100%;
  color: #fff;
  font-weight: bold;
}
.search-box i:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
button.search-submit {
  border: 0;
  background: transparent;
}
input.search-field {
  border: none;
  padding: 4px 0;
  background: transparent;
  width: 100%;
}
.menubar .social-media a:hover{
  color:#3890cb;
}
.serach_inner input[type="search"],
.serach_inner label {
  width: 89%;
}
/*----------Sticky Header------*/
.fixed-header {
  position: fixed;
  top:0; right:0;
  width: 100%;
  background: #fff;
  box-shadow: -2px 2px 10px 0px #2d2d2d;
  z-index: 999999;
}
/*--------------header-------------*/
.page-template-custom-home-page #header {
  padding: 0px 0 4em;
  position: absolute;
  z-index: 99;
  width: 100%;
  background: url(images/cloud-white.png) no-repeat;
  background-size: 100% 100%;
}
#header{
  background: #fff;
}
#header{
  padding: 0 0 4em;
  width: 100%;
  background: url(images/cloud-blue.png) no-repeat;
  background-size: 100% 100%;
  margin:0 0 10px 0;
}
.padding{
  padding: 0 !important;
}
.page-template-custom-home-page .search-box span i{
  color: #07809a;
}
.logo a:hover {
  text-decoration: none;
}
.page-template-custom-home-page #header .logo{
  background: #fff;
  padding: 5px 0;
}
#header .logo{
  margin:0;
  padding:5px 0;
  text-align:center;
  background: #07809a;
}
#header .logo h1{
  text-transform:uppercase;
  padding:0;
  margin-bottom:0;
  font-size:30px;
  margin-top: 0;
  text-align:center;
  font-weight: bold;
}
.page-template-custom-home-page #header .logo a{
  color: #07809a;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 0;
  font-size: 30px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}
#header .logo a{ 
  color: #fff;
  letter-spacing: 3px;
  text-transform: none;
  padding: 0;
  margin-bottom: 0;
  font-size: 30px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}
.page-template-custom-home-page #header .logo p{ 
  font-size:15px;
  color: #191919;
}
#header .logo p{ 
  font-size:15px;
  color: #fff;
  margin:0;
  line-height: 1.5;
}
#header .header-top{
  background:#191919;
  color:#aaaaaa
}
/* --------- MENUS CSS --------- */

#navbar-header form.search-form{
  display: none;
}
.primary-navigation a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.main-navigation .sub-menu > li > a:focus,
.search-box i:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
#navbar-header span,
#navbar-header .socialbox{
  display: none;
}
#navbar-header {
  text-align: center;
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.primary-navigation ul{
  list-style: none !important;
  margin: 15px 0;
  padding-right: 0;  
  text-align: right;
}
.primary-navigation li{
  padding: 10px 12px;
  display: inline-block;
  position: relative;
}
.primary-navigation a{
  display: block;
  color: #fff;
  font-size: 14px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.page-template-custom-home-page .primary-navigation a{
  color: #000;
}
.primary-navigation a:hover{
  color: #000;
}
.primary-navigation ul ul{
  display: none;
  position: absolute;
  min-width: 215px;
  z-index: 9999;
  -webkit-transition: max-height 3s ease-in-out;
  -moz-transition:max-height 3s ease-in-out;
  -o-transition:max-height 3s ease-in-out;
  transition: max-height 3s ease-in-out;
  border-radius: 20px;
}
.primary-navigation ul li a{
  border-radius: 15px;
}
.primary-navigation ul ul ul {
  right: 100%;
  top: 0;
}
.primary-navigation ul ul a{
  padding: 13px;
  color: #fff !important;
  background-color: #07809a;
  border: solid 5px #fcfe74;
}
.primary-navigation ul ul a:hover, .primary-navigation ul ul a:focus{
  background: #fcfe74 ;
  color: #000 !important;
  z-index: 99999;
}
.primary-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.primary-navigation ul ul li:last-child{
  border-bottom: 0;
}
.primary-navigation ul li:hover > ul{
  display: block;
  max-height: 100%;
}
.primary-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.primary-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
.page-template-custom-home-page #header nav#site-navigation {
  background: #fff;
}
nav#site-navigation {
  background: #07809a;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows .sf-with-ul:after{
  content: '';
  position: absolute;
  left: 0;
  margin-top: -2px;
  height: 0;
  width: 0;
  border-top-color: #e1e1e1;
}
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-menu, a.closebtn{
  display: none;
}
/* --------- Homepage --------- */
#blog_sec i {
  font-size: 13px;
  color: #191919;
  margin-left: 10px;
}
.postbtn {  
  text-align: left;
  margin: 23px 0;
}
.postbtn a:hover {
  background: #07809a;
  color: #fff;
  border-color: #07809a;
}
.postbtn a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid #191919;
  padding: 10px;
  color: #191919;
  background: transparent;
}
.section-title {
  text-align: right;
  padding: 10px 0px;
}
h2.section-title {
  letter-spacing: 1px;
  font-style: italic;
  padding: 0;
}
.blog-section .section-title a {
  color: #191919;
  font-size: 20px;
  font-weight: 900;
}
.blog-section .section-title a:after{
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: #07809a;
  margin: 7px 0;
}
.blog-section .section-title a:hover{
  text-decoration:none;
}
.blog-section .new-text p{
  font-size: 15px;
  color: #191919;
  margin: 10px 0;
  line-height:23px;
}
.blog-section .about-us{
  padding: 10px;
  margin-top:20px;
}
.blog-section  .about-us a{
  border: 1px solid #191919;
  padding:8px 20px;
  color: #191919;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 19px;
}
.blog-section .button{
  margin: 0 18%;
  display: inline-block;
}
/*post*/
.inner-box-cat-tag {
  background: #fcfe74;
  margin: 5px;
  border-radius: 10px;
}
span.tags-1, span.cats-1 {
  font-size: 16px;
  font-weight: bold;
  color: #191919;
}
p.tag ,p.cats, p.tag a{
  letter-spacing: 1px;
  font-size: 15px;
  color: #191919;
  margin:0;
}
.inner-box {
  border: 7px solid #fcfe74;
  margin-bottom: 20px;
  padding: 10px;
  background: #feffb5;
  border-radius: 13px;
}
.datebox {
  border: 1px solid #07809a;
  background: #07809a;
  padding: 5px;
  text-align: center;
  border-top-right-radius: 10px;
  margin-top: 15px;
}
.month-yearwrap a{
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}
.datewrap a{
  font-size: 29px;
  font-weight: bold;
  color: #fff;
}
.post-navigation .nav-previous {
  float: right;
  width: 50%;
  font-size: 18px;
}
.post-navigation .nav-next {
  float: left;
  text-align: left;
  width: 50%;
  font-size: 18px;
}
.nav-links {
    margin-top: 20px;
}
nav.navigation.post-navigation a {
  color: #07809a;
}
nav.navigation.post-navigation a:hover {
  color: #f8cf14;
}
span.meta-nav:after {
  content: ":";
  padding: 5px 5px;
}
span.meta-nav {
  font-size: 17px;
  font-weight: bold;
}
.nav-next,
.post-navigation .nav-next {
  margin-top: 0;
}
.new-text p a{
  text-decoration: underline;
}
.tags{
  color: #000;
  font-size: 18px;
}
.tags a {
  text-decoration: none!important;
  font-weight: 400;
  border-radius: 3px; 
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
  color: #333;
}
/* Woocommerce */
.woocommerce form.woocommerce-form-login.login{
  display: inline-block;
}
.woocommerce  form.woocommerce-form-login.login .form-row,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit{
  display: block;
  float: none;
}
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul{
  border: none;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #f8cf14;
  color: #212121;
}
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
  margin: 0 0 0 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 12px;
  background: #07809a;
  color: #fff;
}
li.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
  list-style: none;
}
select.orderby {
  padding: 10px;
}
.woocommerce-product-gallery__image {
  padding: 2px;
}
.woocommerce span.onsale{
  background: #07809a;
  padding: 0;
}
.products li {
  border: solid 1px #dcdcdc;
  padding: 10px !important;
  width: 30%;
  text-align: center;
  margin-left: 10px !important;
}
.woocommerce ul.products li.product .star-rating {
  font-size: .857em;
  margin: 0 auto;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  padding: 10px;
  line-height: normal;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d3ced2;
  padding: 9px 6px 5px;
  margin: 0 0 0 4px;
  outline: 0;
}
h2.woocommerce-loop-product__title{
  color: #191919;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 23px !important;
}
.woocommerce div.product .product_title {
  color: #191919;
  letter-spacing: 1px;
  font-weight: 500;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #191919;
  font-size: 15px;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #07809a;
  color: #fff;
  padding: 12px;
  border-radius: 18px;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #f8cf14;
  color: #1a1a1a;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 8px;
  border: solid 1px #191919;
  margin-left: 10px;
  border-radius: 18px;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #07809a;
  padding: 12px !important;
  margin-bottom: 10px !important;
  list-style-type: none !important;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  font-weight: bold;
}
span.posted_in {
  display: block;
}
span.woocommerce-input-wrapper,
.woocommerce label {
  width: 100%;
}
.woocommerce .woocommerce-breadcrumb a , .woocommerce .woocommerce-breadcrumb{
  color: #616161;
}
.woocommerce-info a{
  color: #0a7a92;
}
.woocommerce form .form-row .required{
  color: #eb0000;
}
.woocommerce-privacy-policy-text a{
  color: #0a6d82;
}
.woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover{
  background: #fafe8d;
}
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled]{
  color: #fff;
}
.woocommerce-info, .woocommerce table.shop_table, .woocommerce table.shop_table.shop_table_responsive, .woocommerce .product_meta{
  font-size: 17px;
}
.woocommerce-MyAccount-content p a, .woocommerce-info a, tr.woocommerce-cart-form__cart-item.cart_item a, form.woocommerce-shipping-calculator a, nav.woocommerce-MyAccount-navigation a{
  text-decoration: none;
}
.woocommerce-product-details__short-description a, .woocommerce #tab-description a{
  text-decoration: underline;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  background-color:#07809a;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #111;
}
.footer-wp .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #fff;
}
.woocommerce ul.product_list_widget li img{
  width: 20%;
}
.footer-wp .widget_price_filter .price_slider_amount{
  color: #fff;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  font-size: 11px;
}
.woocommerce .coupon button.button{
  padding: 10px;
}
#sidebar .widget_rating_filter .star-rating, .footer-wp .widget_rating_filter .star-rating {
  margin: 0 !important;
}
.product_list_widget .star-rating{
  margin: 5px 0 !important;
}
#sidebar .woocommerce .product-title, .footer-wp .woocommerce .product-title{
  font-size: 18px;
}
.woocommerce #comments ol li{
  padding: 0px !important;
}
.woocommerce .star-rating{
  float:right;
}
.woocommerce .woocommerce-product-rating{
  line-height: 1;
}
.woocommerce .woocommerce-product-rating a{
  padding-right: 10px;
}
.woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price{
  font-size: 16px;
}
.woocommerce #reply-title {
  font-size: 18px;
  font-weight: 600;
}
.woocommerce ul.product_list_widget li{
  padding: 0 0 10px;
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total{
  padding: 10px 0;
}
.woocommerce .select2-container .select2-selection--single{
  height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  top:70%;
}
.woocommerce .woocommerce-product-rating .star-rating{
  margin: 0!important;
}
.woocommerce-page ul.products li.product{
  width: 30%;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta{
  font-size: 17px;
}
.related.products .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
  float: none;
  display: inline-table;
}
.woocommerce .reviewer{
  font-size: 17px;
}
.woocommerce .related.products h2{
  text-align: right;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
  text-align: center;
}
li.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
  padding: 1em 3.5em 1em 2em;
}
/* --------- Blog Page ------- */
.metabox {
  color: #000;
  padding: 10px 15px;
  clear: both;
  background: #efefef;
  margin-bottom: 20px;
}
.metabox a{
  color:#191919;
  padding:15px 0;
  clear:both;
}
.metabox a:hover{
  color: #07809a;
}
.metabox span{
  margin-left: 15px;
  font-size: 16px;
}
.metabox i{
  margin-left: 10px;
}
code{
  color: #c53979;
}
.woocommerce a.remove{
  color: #e70000 !important;
}
/* Comments BOX */
#comments{
  margin-top:40px;
}
.comment-body p a{
  text-decoration: underline;
  color: #000;
}
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}
#comments input[type="text"],
#comments input[type="email"],
#comments textarea {
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#07809a ;
  padding:10px 60px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:20px;
  margin-right: 0px;
  color: #fff;
  border-radius: 25px;
}
#comments input[type="submit"].submit:hover {
  background: #f8cf14;
  color: #000;
}
#comments a.comment-reply-link{
  color:#fff;
  background:#07809a;
  padding:5px 15px;
}
#comments a.comment-reply-link:hover{
  background:#191919;
}
#comments a time{
  color:#191919;
  font-weight:bold;
  font-size:12px;
}
.content_box #comments ol li{
  width:100%;
  background:none;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#eee;
  display:inline-block;
}
.content_box #comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  float:left;
}
.comment-respond{
  clear:both;
}
#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:right;
  margin-right:7%;
}
#comments .comment-author {
    width: 50%;
    float: right;
}
.comment-meta.commentmetadata {
    float: left;
    width: 50%;
    text-align: left;
}
.reply {
    margin-bottom: 15px;
    width: 100%;
    float: right;
}
#comments a.comment-reply-link {
  color: #fff;
  background: #07809a;
  padding: 5px 15px;
  text-decoration: none;
}
#comments a.comment-reply-link:hover {
  color: #000;
  background: #cecece;
}
#comments p {
  width:90%;
  float:right;
}
.comment-list, ol.comment-list{
  list-style:none;
  margin-right:0;
  margin-top:20px;
  margin-bottom:20px;
}
.comment-list ul, ol.comment-list ul{
  list-style:none;
}
.comment-list li.comment{
  margin-top:20px;
}
.comment-list .comment-content h1,
.comment-list .comment-content h2,
.comment-list .comment-content h3,
.comment-list .comment-content h4,
.comment-list .comment-content h5,
.comment-list .comment-content h6{
  margin-top:15px;
}
.comment-meta.commentmetadata a {
    color: #333 !important;
    text-decoration: underline;
}
/*--------------- Sidebar -----------------*/
#sidebar {
  padding-top: 15px;
}
#sidebar h3{
  font-size: 24px;
  color: #fff;
  background: #07809a;
  border-top-right-radius: 20px;
  padding: 15px;
  border-top-left-radius: 20px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
}
#sidebar h3:after{
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  margin-top: 7px;
}
#sidebar select {
  padding: 10px;
  border-radius: 10px;
  background: transparent;
}
#sidebar input[type="search"] {
  background:transparent;
  padding:10px 10px; 
  border:solid 1px #191919; 
  font-size:15px; 
  color:#191919;
  font-style: italic;
  border-radius: 15px;
  width: 100%;
}
#sidebar input[type="submit"] {
  padding: 11px 20px;
  font-size: 18px;
  margin: 0;
  border-radius: 15px;
  width: 100%;
  font-weight: bold;
}
#sidebar aside{
  margin-bottom:20px;
}
#sidebar ul {
  border: 10px solid #fcfe74;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  border-radius: 18px;
  margin-top: -15px;
  background: #fff;
}
#sidebar .widget_shopping_cart_content {
  border: 10px solid #fcfe74;
  margin: 0;
  padding: 10px;
  border-radius: 18px;
  margin-top: -15px;
  background: #fff;
}
#sidebar .widget_shopping_cart_content ul{
  border: none;
  margin-top: 0; 
  padding: 0;
}
#sidebar ul ul {
  border: none;
}
ul.children {
  border: none !important;
}
#sidebar ul li a{ 
  color: #07809a;
  line-height: 30px;
  padding-right: 4px !important;
  font-size: 16px;
}
#sidebar ul li{
  font-size: 15px; 
  margin:10px 10px;
  background:url('images/bullets-sidebar.png') no-repeat 0px 10px;
  padding-right: 15px;
}
#sidebar ul ul li{
  margin:10px 0px;
  padding-right: 15px;
}
#sidebar .tagcloud a {
  background: #07809a;
  color: #fff;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 0 5px;
  display: inline-block;
  border-radius: 10px;
}
#sidebar .tagcloud,
#sidebar .textwidget,
#sidebar form,
#sidebar #calendar_wrap {
  border: 10px solid #fcfe74;
  font-size: 17px;
  border-radius: 18px;
  margin-top: -15px;
  background: #fff;
  padding: 10px;
}
.textwidget p a{
  text-decoration: underline;
}
.footer-wp .textwidget p a{
  color: #fff;
}
.footer-wp .textwidget p a:hover{
  color: #f8cf14;
}
#sidebar .widget_text form{
  border: none;
}
#sidebar h3 a.rsswidget{
  color: #fff;
}
#sidebar .tagcloud a:hover{
  background: #f8cf14;
  color: #191919;
}
#sidebar .woocommerce a.remove{
  display: none;
}
.footer-wp table#wp-calendar td#next a{
  color: #fcfe74;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 1px 0 0;
  margin: 0 0 1.75em;
  table-layout: fixed;
  width: 100%;
}
.widget.widget_calendar table {
  margin: 0;
}
.widget_calendar td,
.widget_calendar th {
  line-height: 2.5;
  padding: 0;
  text-align: center;
}
.widget_calendar caption {
  font-weight: 900;
  color: #191919;
  padding-right: 15px;
}
.widget_calendar tbody a {
  background-color: #07809a;
  color: #fff;
  display: block;
  font-weight: 700;
}
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
  background-color: #fff;
  color: #000;
}
/* Page */
.content_box p{
  line-height: 20px;
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 1px;
}
.content_box hr{
  border:none;
  border-bottom:2px solid #7e7e7e;
  margin:10px 0;
  clear:both;
}
.content_box h1{
  font-size:45px;
}
.content_box h2{
  font-size:32px;
  font-weight:normal;
  padding:0;
  margin:0 0 25px;
}
.content_box h3{
  font-size:36px;
  font-weight:normal;
  padding:0;
  margin:0 0 25px;
}
.content_box h4{
  font-size:20px;
  font-weight:bold;
  padding:0;
  margin:0 0 25px;
}
.content_box  h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0;
}
.content_box ul{
  list-style:none;
  margin:0 10px 0 0;
  padding:10px 0 0;
  font-size:16px;
}
.content_box ul li{
  list-style-type: circle;
  padding:0 4px 0 0;
  margin:0 0 20px 0;
  line-height:25px;
}
.content_box ul li ul li{
  list-style-type: circle;
}
.content_box ol{
  list-style: none;
  margin:0 0px 0 0;
  padding:10px 0 0 0;
  font-size:16px;
  counter-reset: myCounter;
}
.content_box ol li{
  list-style-type: circle;
  padding:0 0 0 0;
  margin:0 0 20px 0;
}
.content_box ol li ol li{
  margin:0 0 20px 0;
  padding:0 5px 0 0;
}
.content_box  h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0;
}
.read-moresec{
  margin:3% 0;
}
a.button {
  border: 2px solid #191919;
  color: #191919;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.page-content {
  text-align: center;
}
.page-content .read-moresec a.button{
  background: #07809a;
  padding: 10px 20px;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #07809a;
}
.page-content .read-moresec a.button:hover {
  background: #f8cf14;
  color: #000;
  border: 2px solid #f8cf14;
}

/*preloader*/
.frame {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #000;
  color: #fff;
  z-index: 999999;
  top: 0;
  right: 0;
}

.loader {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.dot-1 {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 95px;
  right: 95px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 80px;
  right: 80px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 65px;
  right: 65px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    box-shadow: -10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*copyright css*/
#scrollbutton i {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 20px;
  font-size: 22px;
  padding: 12px 14px;  
  border: solid 2px #f8cf14;
  color:  #000;
  z-index: 9999;
  border-radius: 50%;
  background: #f8cf14;
  text-shadow: -1px 1px 2px;
  box-shadow: inset 0px 0px 0px #f8cf14, 0px 5px 0px 0px #a67f12, 0px 5px 4px #000;
}
#scrollbutton{
  display: none;
}
.left i{
  right: 20px;
  left: auto !important;
}
.center i{
  right: 50%;
  left: 45% !important;
}
.copyright-wrapper { 
  background-color: #191919;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #07809a;
  background: #07809a;
}
.copyright {
  color: #fff;
  font-size: 17px;
}
.copyright-wrapper a {
  color: #fff;
  font-size: 17px;
}
#sidebar label{
  width: 100%;
}
.footer-wp {
  background: #191919;
  padding: 2%;
}
.footer-wp a:focus, 
.copyright-wrapper a:focus, .footer-wp input:focus, 
.footer-wp button:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.footer-wp .rssSummary,
.footer-wp ul li,
.footer-wp p{
  color: #fff;
  font-size: 16px;
}
.footer-wp h3.widget-title a.rsswidget, .footer-wp h3.widget-title a.rsswidget:hover{
  color: #fff;
}
.footer-wp h3 {
  text-align: right;
  font-size: 25px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}
.footer-wp h3:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #07809a;
  margin-top: 7px;
}
.footer-wp input[type="search"]{
  width:100%;
  float:right;
  margin-bottom: 5px;
  color: #fff;
}
.footer-wp form.search-form label{
  width: 100%;
  display: block;
}
.footer-wp input[type="submit"], .footer-wp button, #sidebar button{
  border: none;
  background: #07809a;
  border-radius: 0;
  font-size: 18px;
  float: none;
  font-weight: 600;
  padding: 10px 10px;
  margin: 0;
  width: 100%;
  color: #fff;
}
.footer-wp button, #sidebar button{
  margin-top: 5px;
}
.footer-wp  td#prev a {
  color: #fff;
}
.footer-wp caption {
  font-weight: bold;
  color: #fff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
}
.footer-wp table,.footer-wp th,.footer-wp td ,
#sidebar .widget_calendar td, #sidebar .widget_calendar th,#sidebar .widget_calendar tbody{
  border: 1px solid #858282;
  text-align: center;
}
.footer-wp td {
  color: #fff;
}
.footer-wp th {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.footer-wp select {
  padding: 8px 5px;
}
.footer-wp li a {
  color: #fff;
  font-size: 17px;
}
.footer-wp li a:hover{
  color: #07809a;
}
.footer-wp ul li {
  list-style: none;
  padding: 5px 0;
}
.footer-wp ul {
  margin: 0;
}
.footer-wp .widget {
  margin: 5% 0;
}
.footer-wp .tagcloud a {
  color: #fff;
  background: #07809a;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 0 5px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 600;
}
.footer-wp .tagcloud a:hover {
  background: #f8cf14;
  color: #191919;
}
.entry-audio audio {
    width: 100%;
}
/* video*/
iframe {
  width: 100%;
}
/* Pagination */
.pagination {
  clear:both;
  position:relative;
  font-size:15px;  
  line-height:13px;
  float:left;  
  font-weight:bold;
  width:100%;
} 
.pagination span, .pagination a {
  padding: 12px 16px;
  display: block;
  float: right;
  margin: 0 3px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #07809a;
  font-weight:bold;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
  font-weight: bold;
} 
.pagination a:hover{
  color:#191919;
  background: #f8cf14;
}
.pagination .current{
  background: #f8cf14;
  color: #191919;
  font-weight:bold;
}
.content_box .pagination ul{
  margin:0;
  clear:both;
}
.content_box .pagination ul li{
  margin:0;
}
.pagination{
  display:table;
  clear:both;
  padding: 20px 0;
}
.pagination ul{
  list-style:none;
  margin:20px 0;
}
.pagination ul li{
  display:inline;
  float:right;
  margin-left:5px;
}
.pagination ul li span,
.pagination ul li a{
  background:#222222;
  color:#fff;
  padding:5px 10px;
  display:inline-block;
}
.pagination ul li .current,
.pagination ul li a:hover{
  background:#ff8a00;
}
h2.entry-title, h2.page-title {
  padding: 10px;
  font-size: 25px;
  text-transform: uppercase;
  color: #07809a;
  text-align: right;
  font-weight: bold;
  margin-bottom: 10px; 
}
article img{
  height:auto;
}
article p{
  margin:10px 0;
}
form.search-form{
  margin-bottom:0px;
}
input.search-field,
.post-password-form input[type=password]{
  border:1px #eee solid;
  padding:10px 20px;
}
input.search-submit,
.post-password-form input[type=submit]{
  border:none;
  color:#ffffff;
  padding:10px 20px;
  cursor:pointer;
  font-weight: bold;
}
input[type="submit"]:hover, .footer-wp button:hover{
  background: #f8cf14;
  color: #000;
}
/*SERVICE*/
.category-section h3 {
  margin: 15px 0 0;
  padding-bottom: 6px;
  color: #191919;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.category-text p {
  color: #616161;
  font-size: 15px;
}
.testbutton {
  margin-top: 10px;
}
.testbutton a {
  font-size: 16px;
  font-weight: 600;
}
.testbutton a i{
  margin-right: 10px;
}
.testbutton a:hover{
  color: #f8cf14;
}
.trainerbox {
  margin-top: 20px;
}
#services {
  padding: 3% 0;
}
.service-img-box {
  background: #fff;
}
.service-img-box img {
  width: 100%;
  opacity: 0.7;
}
.serv-text-box hr.line {
  width: 20%;
  padding: 1px;
  margin: 12px auto;
  border-top: 2px solid #191919;
}
.serv-text-box p {
  color: #191919;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.serv-text-box {
  position: absolute;
  padding: 10px 20px;
  z-index: 99;
}
.serv-text-box h2 {
  color: #191919;
  text-transform: uppercase;
}
/*responsive menu*/
@media screen and (max-width:720px) {
  #slider h1,
  #slider p{
    display:none;
  }
  .header .logo{
    text-align:center;
  }
  .pagination{
    float:none;
  }
  .blog-section .button {
    margin: 0 auto;
    display: block;
    width: 34%;
  }
  #header{
    background: #07809a;
    margin-bottom: 10px;  
    padding: 0;
  }
  .datebox{
    border-radius: 10px;
  }
  .postbtn {
    text-align: right;
  }
  #slider .carousel-caption, #slider .inner_carousel, #slider .inner_carousel h1, #slider .inner_carousel p, .slide-button{
    text-align: center !important;
    right: 15% !important;
    left: 15% !important;
  }
}
@media screen and (max-width: 720px) and (min-width: 320px){
  .blog-section .new-line {
    padding-bottom: 5px;
    font-size: 26px;
    width: 60%;
    font-style: oblique;
  }
  #sidebar {
    clear: both;
  }
  .page-template-custom-home-page #header{
    background:transparent;
    position: static;
    padding:0;
  }
  .search-box {
     margin-top: 0; 
    text-align: center;
    margin-bottom: 10px;
  }
  #slider .carousel-caption{
    text-align: center;
    left: 15%;
  }
  .more-btn{
    margin: 0;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100% !important;
    float: none !important;
  }
}
@media screen and (min-width: 720px) and (max-width: 768px){
  .page-template-custom-home-page #header{
    position: static;
    padding: 0 0 10px;
  }
  #slider .carousel-caption {
    top: 45%;
    transform: translateY(-55%);
    left: 35%;
  }
  #header{
    background: #07809a;
    margin-bottom: 10px;  
    padding: 0 0 10px;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 46% !important;
  }
}
/*------------------RESPONSIVE MEIDA-------------------*/

@media screen and (max-width: 1000px){
  #navbar-header form.search-form{
    display: block;
  }
  .page-template-custom-home-page #header{
    margin-bottom: 0;
    padding:0;
  }
  #header .logo h1{
    text-align: right;
  }
  .topbar span,
  .topbar .socialbox{
    display: none; 
  }
  #navbar-header span,
  #navbar-header .socialbox, .search-box{
    display: block; 
    text-align: right;
    padding: 15px;
    border-bottom: 1px solid #eee;
    color: #000;
  }
  .search-form{
    display: block;
  }
  #navbar-header .socialbox:last-child{
    border-bottom: none;
  }
  #navbar-header .socialbox{
    background: #dd3333;
  }
  #navbar-header .socialbox{
    background: #dd3333;
  }
  #navbar-header span i{
    margin-left: 5px;
  }
  #navbar-header .socialbox i{
    color: #fff;
  }
  #navbar-header input[type='submit']{
    padding: 10px 3px;
    text-indent: -9999px;
    z-index: 999;
    background: url(images/search.png) no-repeat 4px 10px;
    position: absolute;
    width: 20%;
    margin:0;
  }
  #navbar-header form.search-form{
    border-bottom:1px solid #eee;
    margin-bottom: 10px;
  }
  #navbar-header form.search-form label{
    margin:0;
    width: 80%;
  }
  #navbar-header input.search-field{
    padding: 10px;
    width: 100%;
    background: transparent;
    border:none;
  }
  #header .logo{
    float: right;
  }
  .menubar .primary-navigation ul li a:focus,
  a.closebtn.responsive-menu:focus{
    outline: 1px dotted #fff;
    border-bottom: 1px solid #fff;
  }
  .toggle-menu {
    display: none;
    cursor: pointer;
    margin: 10px 0;
    text-align: left;
  }
  .page-template-custom-home-page .toggle-menu i {
    font-size: 32px;
    color: #000 !important;
  }
  .toggle-menu i{
    font-size: 32px;
    color: #fff;
  }
  .toggle-menu button {
    background: transparent;
    border: none;
  }
  .menu-brand {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .menu-brand .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    display: block;
    color: #000;
    border:none;
    background: transparent;
  }
  .menu-brand #site-navigation {
    width: 100%;
  }
  .toggle-menu span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .menubar .primary-navigation ul li{
    border-top:1px #303030 solid; 
    display:block;
  }
  .primary-navigation ul li a{
    padding: 15px;
    display:block;
    color:#000;
    border:none;
    background-color: #fff !important;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
  }
  .primary-navigation ul ul li,
  .toggle-menu,
  .primary-navigation ul li ul,
  .primary-navigation ul li ul ul{ 
    display:block !important;
  }
  .primary-navigation ul li ul li a:before{
    content: "__";
    padding-left: 6px;
    position: relative;
    top: -6px;
  }
  .primary-navigation ul li ul, 
  .primary-navigation ul li ul ul {
    display: block !important;
    opacity: 1 !important;
  }
  .primary-navigation ul ul{
    position: static;
    width: 100%;
  }
  .primary-navigation ul ul a:hover, .primary-navigation ul ul a:focus{
    color: #000 !important;
    background-color: #fff;
  }
  .primary-navigation li{
    padding: 0;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #navbar-header {
    text-align: right;
    display: inline;
    background-color: #fff;
    box-shadow: 0px 0px 12px #333;
  }
   #navbar-header i.fas.fa-times {
    color: #000;
  }
  #navbar-header a:focus{
    outline: 1px dotted #000;
    border-bottom: 1px solid #000;
  }
  .primary-navigation ul{
    display: grid;
  }
  .primary-navigation .current_page_item > a,
  .primary-navigation .current-menu-item > a,
  .primary-navigation .current_page_ancestor > a{
    background:#fff;
  }
  .main-menu-navigation{
    background: #fff;
  }
  .toggle-menu.responsive-menu a:focus{
    outline: 1px dotted #000 !important;
    border-bottom: 1px solid #000 !important;
  }
  .page-template-custom-home-page #header {
    display: block;
  }
  .search-box i{
    color: #000;
  }
  .search-box{
    display: none;
  }
  .primary-navigation ul ul{
    background:#fff;
    border:none !important;
  }
  .primary-navigation ul ul a{
   color: #000 !important;
   border-bottom: 1px solid #eee !important;
  }
  .main-menu .menu-color{
    background: #fff !important;
    text-align: center;
  }
  .primary-navigation a:focus{
    outline: 1px dotted #000 !important;
    border-bottom: 1px solid #000 !important;
  }
  #header .logo{
    text-align: right;
  }
  #slider .carousel-caption p{
    display: none;
  }
  #responsive-search{
    display: block;
  }
  .scrollbutton.center i{
    right: 44%;
    left: 50%;
  }
  .scrollbutton.left i {
    right: 18px;
  }
  .fixed-header #header{
    margin-bottom: 0;
  }
  .primary-navigation a{
    color: #000 !important;
  }
}